@import './helpers/variaveis.scss';
@import './helpers/mixins.scss';

@import './base/normalize.scss';

@import './layout/geral.scss';
@import './layout/header.scss';
@import './layout/destaque.scss';
@import './layout/sobre.scss';
@import './layout/planos.scss';
@import './layout/blog.scss';
@import './layout/contato.scss';
@import './layout/footer.scss';
